body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: black;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.calculator
{
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.buttons
{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
    margin-top: 20px;
}
button
{
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
button:hover
{
    background-color: red;
}
#display
{
    width: 220px;
    height: 35px;
    font-size: 25px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: black;
    color: white;
}

    
